.launch {
    display: flex;
    flex-direction: column;
    @include size-fill-absolute();
    -webkit-app-region: drag;

    .launch-content {
        z-index: 1;
        margin: auto;
        font-weight: 900;
    }
}
