.titlebar {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: row;

    .left {
        background: green;
    }
    .middle {
        background: blue;
        -webkit-user-select: none;
        -webkit-app-region: drag;
        flex-grow: 1;
    }
    .right {
        background: yellow;
    }

    .title {
        font-size: 13px;
        align-self: center;
        justify-self: center;
        background: blue;
    }
}
