@import "src/styles/index";

.titlebar {
    display: flex;
    flex-direction: row;
    @include size-fill-absolute();

    .titlebar-left {
        background-color: green;
    }

    .titlebar-middle {
        -webkit-app-region: drag;
        flex-grow: 1;
        background-color: yellow;
    }

    .titlebar-right {
        background-color: red;
    }

    .title {
        font-size: 13px;
        align-self: center;
        justify-self: center;
    }
}
