$font-path: "./fonts" !default;

$font-body: "Libre Franklin", sans-serif;
$font-heading: "Libre Franklin", sans-serif;

$font-families: (
    body: $font-body,
    heading: $font-heading
);

$font-sizes: (
    h1: 48,
    h2: 32,
    h3: 28,
    h4: 22,
    h5: 18,
    h6: 16,
    body: 100%,
    default: 13,
    small: 11
);
@function font-family($name) {
    @if (map-get($font-families, $name)) {
        @return map-get($font-families, $name);
    } @else {
        @error "must contain one of the following strings: #{$font-families}";
    }
}
@function font-size($name) {
    @if (map-get($font-sizes, $name)) {
        @return map-get($font-sizes, $name);
    } @else {
        @error "must contain one of the following strings: #{$font-sizes}";
    }
}
