$theme-dark: (
	titlebar-height: 30px,
	app-background: color-chrome(high),
	font-color-default: color-base(medium),
	icon-color-default: color-base(medium)
);
@function theme($name) {
	@if (map-get($theme-dark, $name)) {
		@return map-get($theme-dark, $name);
	} @else {
		@error "must contain one of the following strings: #{$theme-dark}";
	}
}
