$colors-chrome: (
	high: #222222,
	high-medium: #333333,
	medium: #444444,
	low-medium: #555555,
	low: #666666
);

$colors-base: (
	high: #dedede,
	high-medium: #c4c4c4,
	medium: #a1a1a1,
	low-medium: #ababab,
	low: #999999
);

$colors-accent: (
	high: #126ef5,
	high-medium: #3885f7,
	medium: #5e9cf9,
	low-medium: #83b3fa,
	low: #a9cafc
);

$colors-alerts: (
	warning: #bcb34f,
	success: #4fbc7b,
	danger: #e94b35,
	error: #bc4f4f
);

@function color-accent($name) {
	@if (map-get($colors-accent, $name)) {
		@return map-get($colors-accent, $name);
	} @else {
		@error "must contain one of the following strings: #{$colors-accent}";
	}
}
@function color-base($name) {
	@if (map-get($colors-base, $name)) {
		@return map-get($colors-base, $name);
	} @else {
		@error "must contain one of the following strings: #{$colors-base}";
	}
}
@function color-chrome($name) {
	@if (map-get($colors-chrome, $name)) {
		@return map-get($colors-chrome, $name);
	} @else {
		@error "must contain one of the following strings: #{$colors-chrome}";
	}
}

@function color-alert($name) {
	@if (map-get($colors-alerts, $name)) {
		@return map-get($colors-alerts, $name);
	} @else {
		@error "must contain one of the following strings: #{$colors-alerts}";
	}
}
