.titlebar {
    display: flex;
    flex-direction: row;
    @include size-fill-absolute();

    .titlebar-left {
    }

    .titlebar-middle {
        -webkit-app-region: drag;
        flex-grow: 1;
    }

    .titlebar-right {
    }

    .title {
        font-size: 13px;
        align-self: center;
        justify-self: center;
    }
}
