.shell {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-user-select: none;
	-webkit-app-region: no-drag;

	.shellTitlebar {
		position: relative;
		-webkit-app-region: drag;
		min-height: theme(titlebar-height);
	}

	.shellContent {
		position: relative;
		display: flex;
		flex-grow: 1;
	}
}
