.titlebar {
    display: flex;
    flex-direction: row;
    @include size-fill-absolute();

    .title-bar-menu {
        position: absolute;
        left: 0;
        width: 200px;
        height: 200px;
    }

    .titlebar-left {
    }

    .titlebar-middle {
        -webkit-app-region: drag;
        flex-grow: 1;
        justify-content: center;
        align-items: center;

        .title {
            margin-left: 10px;
            vertical-align: middle;
        }
    }

    .titlebar-right {
    }

    .title {
        font-size: 13px;
        align-self: center;
        justify-self: center;
    }
}
